{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

			<!-- start banner Area -->
			<section class="relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							{% if user_pro %}
							<h2 class="text-white">
								You could make some firends!		
							</h2>	
							{% else %}
							<h2 class="text-white">
								Not a BlogMember Yet!?		
							</h2>	
							<p class="text-white link-nav"><a id="scroll-to-form" href="{% url 'accounts:login' %}" onclick="scrollToForm()"> Login/Signup </a>  <span class="lnr lnr-arrow-right"></span>  <a onclick="scrollToForm()"> Write your Own posts</a></p>

							{% endif %}
						
							
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">So what is this page about?</h3>
					<p class="sample-text">
						
						here you can see our blog members profiles and get to know them even modr, you can check their own posts and find the ones with the same taste.
						you could even get acces to thier social media profile if they provide links.
						<p>
							<strong>you know what, birds of a feather fly together</strong> 
						</p>
						</p>
					
				</div>
			</section>
			<!-- End Sample Area -->
		
			<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">

					{% for user in users %}
						<div class="section-top-border">
							<h3 class="mb-30"><a href="{% url 'blog:author' author_name=user.username %}">{{user.first_name}} {{user.last_name}}</a></h3>
							<div class="row">
								<div class="col-md-3">
									<a href="{% url 'blog:author' author_name=user.username %}">
											<img src="{{user.profile.image.url}}" alt="" class="img-fluid">
								
									</a>
								</div>
								<div class="col-md-9 mt-sm-20 left-align-p">
									<p>{{user.profile.bio}}</p>
								</div>
							</div>

						</div>
					{% endfor %}

					<nav class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							{% if users.has_previous %}
							<li class="page-item">
								<a href="?page={{posts.previous_page_number}}" class="page-link" aria-label="Previous">
									<span aria-hidden="true">
										<span class="lnr lnr-chevron-left"></span>
									</span>
								</a>
							</li>
							{% endif %}
	
							{% for i in users.paginator.page_range %}
							<li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
							{% endfor %}
	
							{% if users.has_next %}
							<li class="page-item">
								<a href="?page={{users.next_page_number}}" class="page-link" aria-label="Next">
									<span aria-hidden="true">
										<span class="lnr lnr-chevron-right"></span>
									</span>
								</a>
							</li>
							{% endif %}
						</ul>
					</nav>
		
	
				
					<div class="section-top-border">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<h3 class="mb-30">You could add more info to your profile!</h3>
							
								
					

							{% if request.user.is_authenticated %}	
							
							<form  action="{% url 'writers:membership' %}" enctype="multipart/form-data" method="post">
								{% csrf_token %}

								{% if messages %}
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}" {% endif %}><p>{{ message }}</p></li>
										{% endfor %}
								</ul>
								{% endif %}
								

								<input type="hidden" name="user" value="{{request.user.id}}">

							
								<div class="mt-10">
									{{form.bio}}
								</div>
								<br>
								{{form.image}}
								<br>
				
								<br>
								<button type="submit" class="btn primary-btn">Submit</button>

						
							</form>
				
							{% else %}
							<h4 class="mb-30">You should first have an account and log in</h4>
								
							<div class="mt-10">
								<a href="{% url 'accounts:login' %}">Login</a> <br>
								<a href="{% url 'accounts:signup' %}">Sign up</a>
							</div>

							{% endif %}


<!--
		<div class="mt-10">
			<input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
								</div>
								
								<div class="mt-10">
									<input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
								</div>
							
								
					
								<div class="mt-10">
									<textarea  name='bio' class="single-textarea" placeholder="Bio" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bio'" required></textarea>
								</div>
								-->
							


					





							</div >
					
						</div>
					</div>
				</div>
			</div>
			<!-- End Align Area -->

		
      {% endblock %}