{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

			<!-- start banner Area -->
			<section class="relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							{% if user_pro %}
							<h2 class="text-white">
								You could make some firends!		
							</h2>	
							{% else %}
							<h2 class="text-white">
								You are not a member of the blog yet!		
							</h2>	
							<p class="text-white link-nav"><a id="scroll-to-form" href="#target-form" onclick="scrollToForm()">Fill in them form down the page </a>  <span class="lnr lnr-arrow-right"></span>  <a onclick="scrollToForm()"> Write your own posts</a></p>

							{% endif %}
						
							
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">So what is this page about?</h3>
					<p class="sample-text">
						
						here you can see our blog members profiles and get to know them even modr, you can check their own posts and find the ones with the same taste.
						you could even get acces to thier social media profile if they provide links.
						<p>
							<strong>you know what, birds of a feather fly together</strong> 
						</p>
						</p>
					
				</div>
			</section>
			<!-- End Sample Area -->
		
			<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">

					{% for profile in profiles %}
						<div class="section-top-border">
							<h3 class="mb-30"><a href="{% url 'blog:author' author_name=profile.user.username %}">{{profile.first_name}} {{profile.last_name}}</a></h3>
							<div class="row">
								<div class="col-md-3">
									<a href="{% url 'blog:author' author_name=profile.user.username %}">
										{% if profile.image %}
											<img src="{{profile.image.url}}" alt="" class="img-fluid">
										{% else %}
											<img src="{% static 'img/default_profile.png' %}">
										{% endif %}
									</a>
								</div>
								<div class="col-md-9 mt-sm-20 left-align-p">
									<p>{{profile.bio}}</p>
								</div>
							</div>
						</div>
					{% endfor %}
		
	
					<div class="section-top-border">
						<h3>Image Gallery</h3>
						<div class="row gallery-item">
							<div class="col-md-4">
								<a href="{% static 'img/elements/g1.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g1.jpg' %});"></div></a>
							</div>
							<div class="col-md-4">
								<a href="{% static 'img/elements/g2.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g2.jpg' %});"></div></a>
							</div>
							<div class="col-md-4">
								<a href="{% static 'img/elements/g3.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g3.jpg' %});"></div></a>
							</div>
							<div class="col-md-6">
								<a href="{% static 'img/elements/g4.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g4.jpg' %});"></div></a>
							</div>
							<div class="col-md-6">
								<a href="{% static 'img/elements/g5.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g5.jpg' %});"></div></a>
							</div>
							<div class="col-md-4">
								<a href="{% static 'img/elements/g6.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g6.jpg' %});"></div></a>
							</div>
							<div class="col-md-4">
								<a href="{% static 'img/elements/g7.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g7.jpg' %});"></div></a>
							</div>
							<div class="col-md-4">
								<a href="{% static 'img/elements/g8.jpg' %}" class="img-gal"><div class="single-gallery-image" style="background: url({% static 'img/elements/g8.jpg' %});"></div></a>
							</div>
						</div>
					</div>
					
					<div class="section-top-border">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<h3 class="mb-30">Want to be a blog member?</h3>
							
								
							{% if profile.user == request.user.id %}
								<p>....</p>
							{% endif %}

							{% if request.user.is_authenticated %}	
							
							<form  action="{% url 'writers:membership' %}" enctype="multipart/form-data" method="post">
								{% csrf_token %}

								{% if messages %}
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}" {% endif %}><p>{{ message }}</p></li>
										{% endfor %}
								</ul>
								{% endif %}
								<div class="mt-10">
										{{form.first_name}}
								</div>

								<input type="hidden" name="user" value="{{request.user.id}}">

								<div class="mt-10">
									{{form.last_name}}
								</div>
								<div class="mt-10">
									{{form.bio}}
								</div>
							
								{{form.image}}
				
								<br>
								<button type="submit" class="btn primary-btn">Submit</button>

						
							</form>
				
							{% else %}
							<h4 class="mb-30">You should first have an account and log in</h4>
								
							<div class="mt-10">
								<a href="{% url 'accounts:login' %}">Login</a> <br>
								<a href="{% url 'accounts:signup' %}">Sign up</a>
							</div>

							{% endif %}


<!--
		<div class="mt-10">
			<input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
								</div>
								
								<div class="mt-10">
									<input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
								</div>
							
								
					
								<div class="mt-10">
									<textarea  name='bio' class="single-textarea" placeholder="Bio" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bio'" required></textarea>
								</div>
								-->
							


					





							</div >
							<div class="col-lg-3 col-md-4 mt-sm-30 element-wrap">
								<div class="single-element-widget">
									<h3 class="mb-30">Switches</h3>
									<div class="switch-wrap d-flex justify-content-between">
										<p>01. Sample Switch</p>
										<div class="primary-switch">
											<input type="checkbox" id="default-switch">
											<label for="default-switch"></label>
										</div>
									</div>
									<div class="switch-wrap d-flex justify-content-between">
										<p>02. Primary Color Switch</p>
										<div class="primary-switch">
											<input type="checkbox" id="primary-switch" checked>
											<label for="primary-switch"></label>
										</div>
									</div>
									<div class="switch-wrap d-flex justify-content-between">
										<p>03. Confirm Color Switch</p>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch" checked>
											<label for="confirm-switch"></label>
										</div>
									</div>
								</div>
					
			
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Align Area -->

		
      {% endblock %}