{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
  {% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>				
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<h6 class="text-white">Music is another dimension </h6>
							<h1 class="text-white">MazMusic is Magical!</h1>
							<p class="text-white">
								You into music? You'd like to share your interests where there could be other girls and boys with the same taste? So welcome to MazMusic!
							</p>
							
						</div>
						
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start popular-destination Area -->
			<section class="popular-destination-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Check out the Courses</h1>
		                        <p>If you really wish to understand music and enjoy it the most, so we recommend you to check the courses out!</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						{% for course in courses %}
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{{course.image.url}}" alt="">
								</div>
								<div class="desc">	
									<a  href="#" class="price-btn">Toman{{course.price}}</a>			
									<h4 style="color:rgb(211, 214, 5)">{{course.name}}</h4>
									<p style="color:rgb(211, 214, 5)">{{course.instructor}}</p>			
								</div>
							</div>
						</div>
						{% endfor %}
															
					</div>
				</div>	
			</section>
			<!-- End popular-destination Area -->
			

			<!-- Start other-issue Area -->
			<section class="top-category-widget-area pt-90 pb-90 ">
				<div class="container">
					<h3>You might be interested in:</h3>
					<br>
					<br>
					<div class="row">
					{% top_categories %}
					</div>
				</div>
			</section>
		
			<!-- End other-issue Area -->
			

			
		    

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								Did not find your desired course? <br>
								Feel free to ask us. <br>
								We'll make it for you!
							</h1>
							<p>
								Send us an email or better to say emailS!
								We will be glad to help you out.
								Let us know what kind of course you need and help us with providing the bet service.
							</p>
							<a href="#" class="primary-btn text-uppercase">request custom price</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-	right no-padding">
							<img style="width:600px; height: 460px; object-fit: cover;"  class="img-fluid" src="{% static 'img/blog/pianist2.jpg' %}" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
			
	
			<!-- Start blog Area -->
			<section class="recent-blog-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10">Latest from Our Blog</h1>
								<p>With the exception of Nietzsche, no other madman has contributed so much to human sanity as has.</p>
							</div>
						</div>
					</div>							
					<div class="row">
						<div class="active-recent-blog-carusel">

							{% latest_posts %}
							<!--
							<div class="single-recent-blog-post item">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">
								</div>
								<div class="details">
									<div class="tags">
										<ul>
											<li>
												<a href="#">Travel</a>
											</li>
											<li>
												<a href="#">Life Style</a>
											</li>											
										</ul>
									</div>
									<a href="#"><h4 class="title">Low Cost Advertising</h4></a>
									<p>
										Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
									</p>
									<h6 class="date">31st January,2018</h6>
								</div>	
							</div>
							 -->	
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End recent-blog Area -->			
  
      
  {% endblock %}    