{% load static %}
{% load blog_tags %}
{% load humanize %}

{% for post in posts %}

  <div class="single-recent-blog-post item">
  <div class="thumb">
    <img class="img-fluid" src="{{post.image.url}}" alt="">
  </div>
  <div class="details">
    <div class="tags">
      <ul>
        <li>
          <a href="{% url 'blog:single' pid=post.id %}">View Post</a>
        </li>
        <li>
          <a href="{% url 'blog:author' author_name=post.author.username %}">{{post.author.username}}</a>
        </li>											
      </ul>
    </div>
    <a href="{% url 'blog:single' pid=post.id %}"><h4 class="title">{{post.title}}</h4></a>
    <p>
     {{post.content|truncatewords:12}}
    </p>
    <h6 class="date">{{post.published_date|naturaltime}}</h6>
  </div>	
  </div>

{% endfor %}