{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative blog-home-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content blog-header-content col-lg-12">
				<h1 class="text-white">
					 The Posts published by our members/friends
				</h1>
				<p class="text-white">
					Once you fall in love with music, you've started a beautiful journey 
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start top-category-widget Area -->
<section class="top-category-widget-area pt-90 pb-90 ">
	<div class="container">
		<h3>You might be interested in:</h3>
		<br>
		<br>
		<div class="row">
		{% top_categories %}
		</div>
	</div>
</section>
<!-- End top-category-widget Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">


				{% for post in posts %}
				<div class="single-post row">
					<div class="col-lg-3  col-md-3 meta-details">
						<ul class="tags">

							{% for cat in categories %}
							<li><a href="{% url 'blog:category' cat_name=cat %}">{{cat}}</a></li>
							{% if not forloop.last %},{% endif %}
							{% endfor %}


						</ul>
						<div class="user-details row">
							<p class="user-name col-lg-12 col-md-12 col-6"><a
									href="{% url 'blog:author' author_name=post.author %}">{{post.author.username}}</a> <span class="lnr lnr-user"></span></p>
							<p class="date col-lg-12 col-md-12 col-6"><a href="{% url 'blog:single' pid=post.id %}">{{post.published_date|naturaltime}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-12 col-md-12 col-6"><a href="{% url 'blog:single' pid=post.id %}">{{post.counted_views}}</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-12 col-md-12 col-6"><a href="{% url 'blog:single' pid=post.id %}">{% comments_count post.id %} Comments</a> <span
									class="lnr lnr-bubble"></span></p>
									<p class="date col-lg-12 col-md-12 col-6"><a href="{% url 'blog:single' pid=post.id %}">{{post.total_likes}} likes</a> <span
										class="lnr lnr-calendar-full"></span></p>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 ">
						<div class="feature-img">
							<img class="img-fluid" src="{{post.image.url}}" alt="">
						</div>
						<a class="posts-title" href="{% url 'blog:single' pid=post.id %}">
							<h3>{{post.title}}</h3>
						</a>
						<p class="excert">
							{{post.content|truncatewords:60}}
						</p>
						<a href="blog-single.html" class="primary-btn">
							<audio>{{post.tracks.audio_file.url}} </audio>
						</a>
					</div>
				</div>
				{% empty %}
				<div class="col-lg-9 col-md-9 ">

				<div class="feature-img">
					<img class="img-fluid" src="{% static 'img/blog/pianist2.jpg' %}" alt="">
				</div>
				<hr>
				<p>Oops Nothing was found!</p>
					<h4> Be the first one to post your interests!</h4>
					<hr>
					<a class="btn btn-warning" href="{% url 'writers:writer_view' %}">Create Post</a>
				</div>
				{% endfor %}
				
				{% if profile.user == request.user %}
				<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						
				
			
					</div>
				</div>	
			</section>
				{% endif %}

				<nav class="blog-pagination justify-content-center d-flex">
					<ul class="pagination">
						{% if posts.has_previous %}
						<li class="page-item">
							<a href="?page={{posts.previous_page_number}}" class="page-link" aria-label="Previous">
								<span aria-hidden="true">
									<span class="lnr lnr-chevron-left"></span>
								</span>
							</a>
						</li>
						{% endif %}

						{% for i in posts.paginator.page_range %}
						<li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
						{% endfor %}

						{% if posts.has_next %}
						<li class="page-item">
							<a href="?page={{posts.next_page_number}}" class="page-link" aria-label="Next">
								<span aria-hidden="true">
									<span class="lnr lnr-chevron-right"></span>
								</span>
							</a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
			<div class="col-lg-4 sidebar-widgets">

			
			
				<div class="widget-wrap">
				
					<div class="alert alert-light" role="alert">
						{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}" {% endif %}><p>{{ message }}</p></li>
						{% endfor %}
				</ul>
				{% endif %}
					</div>

						

					{% include 'blog/search.html' %}

					{% if profile %}
					
								{% load static %}
								{% load blog_tags %}
							
								<div class="single-sidebar-widget user-info-widget">
									{% if profile.image %}
											<img src="{{profile.image.url}}" alt="" class="img-fluid">
										{% else %}
											<img src="{% static 'img/default_profile.png' %}">
										{% endif %}
									<a href="#"><h4>{{profile.first_name}} {{profile.last_name}}</h4></a>
									<p>
										Junior blog writer
									</p>
									<ul class="social-links">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-github"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
									</ul>
									<p>
									{{profile.bio}}
									</p>
								</div>
					{% endif %}

				
			
					{% include 'blog/ads.html' %}
					{% popular_posts %}
					{% post_categories %}









				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->

{% endblock %}