{% load static %}
{% load blog_tags %}


{% for cat in random_categories %}

    <div class="col-lg-4">
      <div class="single-cat-widget">
        <div class="content relative">
          <div class="overlay overlay-bg"></div>
          <a href="{% url 'blog:category' cat_name=cat  %}" target="_blank">
            <div class="thumb">
    
    
              <img class="content-image img-fluid d-block mx-auto" src="{{cat.image.url}}"
                alt="">
            </div>
            <div class="content-details">
              <h4 class="content-title mx-auto text-uppercase">{{cat.name|upfirstletter}}</h4>
              <span></span>
            </div>
          </a>
        </div>
      </div>



 





</div>


   
{% endfor %}